sudo: required

language: cpp

addons:
  apt:
    packages:
      - libpng-dev
      - ocl-icd-opencl-dev
      - opencl-headers

matrix:
  include:
    - os: linux
      env: CUDA=8.0.61-1
    - os: osx
    - os: linux
      env: STATIC_ANALYSIS=ON

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ] && [ -z "${STATIC_ANALYSIS+x}"]]; then source script/travis/install_cuda.sh; fi

script:
  - source script/travis/run_script.sh

