sudo: required

language: cpp

addons:
  apt:
    packages:
      - libpng-dev
      - ocl-icd-opencl-dev
      - opencl-headers

matrix:
  include:
    - os: linux
      env: CUDA=8.0.61-1 CMAKE_OPTIONS="-DPENGUINV_BUILD_TEST=ON"
      before_install: source script/travis/install_cuda.sh
    - os: linux
      env: QT_BASE=59 CMAKE_OPTIONS="-DPENGUINV_BUILD_QT_EXAMPLE=ON"
      before_install: source script/travis/install_qt5.sh
    - os: linux
      env: STATIC_ANALYSIS=ON
    - os: linux
      env: DYNAMIC_ANALYSIS=ON CMAKE_OPTIONS="-DCMAKE_BUILD_TYPE=Debug"
      after_script:
        - cat "${TRAVIS_BUILD_DIR}/build/Testing/Temporary/MemoryChecker.1.log" > out && cat out
        - test ! -s out
      addons:
        apt:
          update: true
          packages: valgrind
    - os: osx
      env: QT_BASE=latest CMAKE_OPTIONS="-DPENGUINV_BUILD_QT_EXAMPLE=ON"
      before_install: source script/travis/install_qt5.sh

script:
  - |
    if [[ "$STATIC_ANALYSIS" == "ON" ]]; then
      export EXCLUDE_PATTERN_1=" not found in expected header ";
      export EXCLUDE_PATTERN_2=" does not need to be \#included; use a forward declaration instead";
      export EXCLUDE_PATTERN_3=" not found in any directly \#included header";
      git clone https://github.com/myint/cppclean;
      ./cppclean/cppclean src test examples | grep -v "$EXCLUDE_PATTERN_1" | grep -v "$EXCLUDE_PATTERN_2" | grep -v "$EXCLUDE_PATTERN_3";
    fi
  - |
    mkdir -p build
    cd build
    cmake .. ${CMAKE_OPTIONS}
    if [[ "$DYNAMIC_ANALYSIS" == "ON" ]]; then
      cmake --build . --target unit_tests -- -j2
      ctest -C Debug -R 'unit_test_valgrind' --extra-verbose -T MemCheck -j2
    else
      cmake --build .
      ctest -E 'perf_test|unit_test_valgrind' --extra-verbose
    fi
  - |
    if [[ $CUDA ]]; then
      cd ../test/unit_tests/cuda;
      make;
    fi
