sudo: required

language: cpp

addons:
  apt:
    packages:
      - libpng-dev
      - ocl-icd-opencl-dev
      - opencl-headers

matrix:
  include:
    - os: linux
      env: CUDA=8.0.61-1
      env: QT_BASE=59
    - os: osx
    - os: linux
      env: STATIC_ANALYSIS=ON

before_install:
   - source script/travis/before_script.sh

script:
  - source script/travis/run_script.sh

