name: GitHub Actions

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Configure
      run: mkdir build && cd build && cmake ..
    - name: Build
      run: cmake --build build --config Release -- -j 2
    - name: Run tests
      run: cd build && ctest -E 'perf_test' --extra-verbose # execute unit_test and unit_test_opencl
  python:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Check Python
      run: python --version
    - name: Install swig
      run: choco install swig --version 3.0.12 --yes --limit-output -dv
    - name: Check swig
      run: swig.exe -version
    - name: Build Python
      run: python setup.py build_ext --inplace
      working-directory: src/python
    - name: Run tests
      run: python bitmap_operation.py
      working-directory: examples/python
